# Run without seeder:
# docker compose up --scale seeder=0

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: rawgDatabase
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend
    healthcheck: # checks if mysql is ready to accept connections
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-prootpassword"]
      interval: 5s
      timeout: 3s
      retries: 10

  seeder:
    container_name: seeder
    build:
      context: ./seeder
      dockerfile: Dockerfile
    depends_on:
      - mysql
    env_file:
    - ./seeder/.env
    environment:
      MYSQL_URL: mysql://root:rootpassword@mysql:3306/rawgDatabase
      GAME_PAGES: ${GAME_PAGES:-1} # Use the GAME_PAGES environment variable or default to 1
      SEED_MODE: ${SEED_MODE:-default} # Use SEED_MODE to control behavior (e.g., 'default' or 'user')
    networks:
      - backend
    volumes:
      - ./seeder:/app
    command: >
      sh -c "if [ $$SEED_MODE = 'user' ]; then npm start -- user; else npm start; fi"

  rawg-server:
    container_name: rawg-server
    build:
      context: ./rawg-server
      dockerfile: Dockerfile
    depends_on:
      mysql:
        condition: service_healthy # wait for mysql to be healthy - which means it is ready to accept connections
    env_file:
      - ./rawg-server/.env
    ports:
      - "5000:5000"
    networks:
      - backend
      - frontend
    volumes:
      - ./rawg-server:/app
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 5s
      timeout: 3s
      retries: 10

  rawg-client:
    container_name: rawg-client
    build:
      context: ./rawg-client
      dockerfile: Dockerfile
    env_file:
      - ./rawg-client/.env
    depends_on:
      rawg-server:
        condition: service_healthy
    ports:
      - "3000:3000"
    networks:
      - frontend
    volumes:
      - ./rawg-client:/app
      - /app/node_modules # to avoid overwriting node_modules with host folder
volumes:
  mysql_data:

networks:
  backend:
  frontend:
